.meal {
  height: 100%;
  color: #ddd6cb;
  box-shadow: 0 0 12px rgb(0 0 0 / 0.3);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: linear-gradient(90deg, #2c1e19, #25200f);
  transition: all 0.3s ease-in-out;
}

.header-text {
  padding: 0.5rem 1rem 0;

  h2 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    font-style: italic;
    color: #cfa69b;
  }
}

.meal h2,
.meal p {
  margin: 0;
}

.image {
  position: relative;
  height: 15rem;
}

.meal img {
  object-fit: cover;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary {
  padding: 1rem 1rem 0;
}

.actions {
  padding: 1rem;
  text-align: right;
}

.actions a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  display: inline-block;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.actions a:hover,
.actions a:active {
  box-shadow: 0 0 12px rgb(242 100 18 / 0.8);
  background: linear-gradient(90deg, #fd4715, #f9b241);
}
